<div class="page-container">
    <fieldset class="layui-elem-field layui-field-title" class="mt10">
        <legend>自定义菜单</legend>
    </fieldset>

    <blockquote class="layui-elem-quote layui-quote-nm">
        格式要求：</br>
                 1.菜单名称,菜单链接地址；</br>
                 2.支持模块，例如： 文章管理,/video/art/data;</br>
                 3.url路径详细说明 /模块名称/控制器/方法</br>
    </blockquote>

    <form class="layui-form" action="">
        <input type="hidden" name="__token__" value="{$Request.token}" />
        <div class="layui-form-item layui-form-text">
            <textarea name="quickmenu" placeholder="请输入内容" class="layui-textarea" style="height:600px; resize:none">{$quickmenu}</textarea>
        </div>
        <div class="layui-form-item center">
            <div class="layui-input-block">
                <button type="submit" class="layui-btn" lay-submit="" lay-filter="formSubmit">保 存</button>
                <button class="layui-btn layui-btn-warm" type="reset">还 原</button>
            </div>
        </div>
    </form>
</div>
{include file="block/layui" /}
</body>
</html>