<meta http-equiv="Access-Control-Allow-Origin" content="*">
<meta name="renderer" content="webkit">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
<meta name="apple-mobile-web-app-capable" content="yes" />
<link rel="stylesheet" href="__PUBLIC_JS__/layui/css/layui.css?v={:MIGU_VERSION}" />
<link rel="stylesheet" href="__ADMIN_CSS__/common.min.css?v={:MIGU_VERSION}" media="all" />
<link rel="stylesheet" id="themeLink" theme="{:cookie('migu_admin_theme')}" href="__ADMIN_CSS__/theme/{:cookie('migu_admin_theme')}.css?v={:MIGU_VERSION}" media="all" />
<link rel="stylesheet" href="__STATIC__/fonts/typicons/min.css?v={:MIGU_VERSION}" />
<link rel="stylesheet" href="__STATIC__/fonts/font-awesome/min.css?v={:MIGU_VERSION}" />
<link rel="stylesheet" href="__STATIC__/fonts/migu/iconfont.css?v={:MIGU_VERSION}" />
{notempty name=":config('sys.admin_css')"}
    {foreach name=":parse_attr(config('sys.admin_css'))" id="r"}
        <link rel="stylesheet" href="{$r}?v={:MIGU_VERSION}" />
    {/foreach}
{/notempty}
<script>
    var HSROOT = '{:request()->root()}', HSURL  = '{:request()->url()}', HSMODULE = '{:request()->module()}', HSCONTROLLER = '{:request()->controller()}', HSACTION = '{:request()->action()}', HSMENUS = {:json_encode($miguMenus)};
</script>
{$miguHead|raw}
